body {}

* {
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
}

h1 {
	text-align: center;
	color: #fff;
	font-weight: 400;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
	padding-bottom: 22px;
	padding-right: 24px;
}

#container {
	width: 1050px;
	height: 1372px;
	margin: 0 auto;
	background-image: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-position: center;
}

.logo {
	width: 100%;
	opacity: 0.50;
}

.logo a img {
	display: block;
	margin: 0 auto;
	padding-top: 48px;
	padding-left: 80px;
}

.row {
	width: 1050px;
	padding-left: 87px;
	padding-right: 83px;
	display: inline-block;
}

.cl {
	width: 380px;
	float: left;
	line-height: 26px;
}

.cr {
	width: 380px;
	float: right;
	line-height: 26px;
}

.form {
	background-color: #f4f4f4;
	position: relative;
	color: #afafaf;
}

.formBox {
	background-color: #f4f4f4;
	padding: 20px;
	outline: 20px solid rgba(0, 0, 0, 0.20);
	width: 380px !important;
}

.formBox input[type=text] {
	display: block;
	width: 100%;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	outline: none;
	padding: 8px 0px 10px 81px;
	box-sizing: border-box;
	transition: .3s;
	color: #afafaf;
	margin-bottom: 15px;
}

.formBox input[type=textarea] {
	display: block;
	width: 100%;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	outline: none;
	padding: 8px 0px 197px 16px;
	box-sizing: border-box;
	transition: .3s;
	color: #afafaf;
	margin-bottom: 15px;
}

.formBox select {
	display: block;
	width: 100%;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	outline: none;
	padding: 8px 0px 10px 78px;
	box-sizing: border-box;
	transition: .3s;
	color: #afafaf;
	margin-bottom: 15px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	background: #f8f8f8;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #f0f0f0 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #f0f0f0 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f8f8f8 0%, #f0f0f0 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0', GradientType=0);
}

.formBox input {
	margin: 0;
	padding-bottom: 20px;
	font-size: 16px;
	background: #f8f8f8;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f8f8f8 0%, #f0f0f0 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f8f8f8 0%, #f0f0f0 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f8f8f8 0%, #f0f0f0 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#f0f0f0', GradientType=0);
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	color: #afafaf;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: #afafaf;
}

:-ms-input-placeholder {
	/* IE 10+ */
	color: #afafaf;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: #afafaf;
}

.formBox input[type=checkbox] {
	display: inline-block;
	border: 1px solid #c6c6c6;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	/*! padding:8px; */
	box-sizing: border-box;
	transition: .3s;
	padding-left: 40px;
}

.formBox span.glyphicon {
	display: inline-block;
	left: 0;
	top: 8px;
	padding: 9px 8px;
	color: #aaa;
	transition: .3s;
	border-right: 1px solid #c6c6c6;
}

.button {
	background: #a3d840;
	/* Old browsers */
	background: -moz-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: -webkit-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: linear-gradient(to bottom, #a3d840 0%, #80c420 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d840', endColorstr='#80c420', GradientType=0);
	border: 1px solid #3b9a00;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 24px;
	/*! padding-top: 10px; */
	margin-top: 10px;
	padding-bottom: 8px;
}

.buttonS {
	background: #a3d840;
	/* Old browsers */
	background: -moz-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: -webkit-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: linear-gradient(to bottom, #a3d840 0%, #80c420 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d840', endColorstr='#80c420', GradientType=0);
	border: 1px solid #3b9a00;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 18px;
	padding-top: 3px;
	padding-bottom: 5px;
	margin-top: 10px;
}

.buttonPink {
	background: #f65e70;
	/* Old browsers */
	background: -moz-linear-gradient(top, #f65e70 0%, #f03747 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f65e70 0%, #f03747 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f65e70 0%, #f03747 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f65e70', endColorstr='#f03747', GradientType=0);
	/* IE6-9 */
	border: 1px solid #3b9a00;
	border-radius: 5px;
	color: white;
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
}

#input_img {
	position: absolute;
	left: 0;
	padding: 0px 18px 0px 18px;
	margin-top: 9px;
	border-right: 1px solid #f0f0f0;
	border-spacing: 1px 1px;
	box-shadow: 1px 0px 0px #e4e4e4;
}

.borderInput {
	/*! width:2px; */
	/*! border-right: 2px solid #000; */
	/*! border-spacing: 1px 1px; */
	/*! margin-left: 10px; */
}

.check {
	display: inline;
	position: relative;
	padding-left: 39px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*! padding-top: 6px; */
}

.check p {
	display: inline;
}

#regForm {
	height: 156px;
	padding-top: 150px;
}

.regForm {
	height: 156px;
}

.check input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 27px;
	background-color: #f4f4f4;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.check input:checked~.checkmark:after {
	display: block;
}

.check .checkmark:after {
	margin: 5px;
	width: 14px;
	height: 14px;
	border-radius: 5px;
	background: #a3d840;
	/* Old browsers */
	background: -moz-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: -webkit-linear-gradient(top, #a3d840 0%, #80c420 100%);
	background: linear-gradient(to bottom, #a3d840 0%, #80c420 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d840', endColorstr='#80c420', GradientType=0);
}

.full {
	width: 100% !important;
}

.half {
	width: 140px;
	height: auto;
	float: right;
}

.signInForm {
	height: 225px;
	padding-top: 33px;
}

.registerForm {
	height: 419px;
}

#recoverForm {
	height: 218px;
	padding-top: 22px;
}

.recoverForm {
	height: 218px;
	padding-top: 22px;
}

.recoverForm input[type=text] {
	margin-top: 8px;
}

#recoverForm h1 {
	margin-left: 10px;
}

.recoverForm .button {
	margin-top: 4px;
	font-size: 18px;
}

.regForm .button {
	margin-top: 4px;
	font-size: 18px;
}

.sendEmail {
	height: 485px;
}

#sendForm {
	padding-top: 35px;
}

.signInForm .button {
	margin-top: -32px;
	padding: 0px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.stopka {
	padding-top: 85px;
	float: left;
	padding-left: 10px;
	opacity: .3;
}


}